In [ ]:
# Python :- Python is defined as a High Level , Interpreted , Dynamic , 
#           Easy to learn , General Purpose, Object Oriented , Case Sensitive Programming Language . 



# class is defined as the blueprint of the object
# object is defined as the any real world or virtual enitity that have some state and behaviour

In [24]:
def demo():
    print("hello world")


class Test:
    def demo(self):
        print("Good Morning ")



demo()

obj = Test()
obj.demo()

hello world
Good Morning

In [5]:
print("hello worl")
print("how are you")
print("Good Morning")

hello worl
how are you
Good Morning

In [7]:
a=10 
a=9
a=-8
a=9.9
print(a)

9.9

In [23]:
a=9
print(a)
print(type(a))

a=-9
print(a)
print(type(a))

a=9.9
print(a)
print(type(a))


a="hello"
print(a)
print(type(a))


a=True
print(a)
print(type(a))

a=False
print(a)
print(type(a))


a=None
print(a)
print(type(a))


a=[6,4,3,"kuldeep","rahul","avinash",True,False,12,45,[6,4,6,(6,4,6,7)]] # list is mutable 
print(a)
print(type(a))


a=(1,3,5,3,7)  # tuple is im-mutable 
print(a)
print(type(a))



a={56,4,3,6}
print(a)
print(type(a))


a={"name":"kuldeep","city":"delhi","cource":"python","marks":98,"phone number":8877990099}
print(a)
print(type(a))

9
<class 'int'>
-9
<class 'int'>
9.9
<class 'float'>
hello
<class 'str'>
True
<class 'bool'>
False
<class 'bool'>
None
<class 'NoneType'>
[6, 4, 3, 'kuldeep', 'rahul', 'avinash', True, False, 12, 45, [6, 4, 6, (6, 4, 6, 7)]]
<class 'list'>
(1, 3, 5, 3, 7)
<class 'tuple'>
{56, 3, 4, 6}
<class 'set'>
{'name': 'kuldeep', 'city': 'delhi', 'cource': 'python', 'marks': 98, 'phone number': 8877990099}
<class 'dict'>

In [31]:
B=10
# print(b)
print(B)

10

In [38]:
# String
# single and double are used for single line string 

# triple quote is used for multiliine string

# 1 Single Quote
a="this is aman's car "
print(a)
# 2 Double Quote

a=' Today is a "suny Day " '
print(a)
# 3 Triple Quote 
a=''' h
e
l
l
o
'''
print(a)

this is aman's car
 Today is a "suny Day "
 h
e
l
l
o

In [4]:
a=10
b = 20 
c = a+b
print(c)

30

In [10]:
# Types of Operator 

# Arithmatic Operator . 
# + , - , * , / , // , %  , ** 


a= 24
b = 8 
print(a/b)
print(a//b)  # quotient
print(a%b)  # reminder 
print(a**b)  # power

3.0
3
0
110075314176

In [18]:
# Assignment Operator 
# = , +=, -= , *= , /=, //=,**=,%=

a=5
print(a)


#a=a+2
a+=2
print(a)

a-=3
print(a)

a/=3
print(a)



a*=8
print(a)

a//=4
print(a)


a%=5
print(a)

a**=2
print(a)

5
7
4
1.3333333333333333
10.666666666666666
2.0
2.0
4.0

In [22]:
# Compairosn Operator

# > , < , >= , <= , == , != 

a = 10 
b = 11

print(a<b)
print(a>b)
print(a==b)
print(a>=b)
print(a<=b)
print(a!=b)

True
False
False
False
True
True

In [30]:
# Logical Operators
# And , Or , Not


print(a<b)
print(a>b)

print("and ",a<b and a>b)
print("or ",a<b or a>b)

print(a==b)
print(a>=b)
print(a<=b)
print(a!=b)


# Writing :- Pen & Paper
# Drink :- Tea or Coffe 
# Leave :- Not Sunday 
print(a!=b)
print("not ", not a!=b)

True
False
and  False
or  True
False
False
True
True
True
not  False

In [56]:
### Control Statments :- Conditional Statements , Looping Statments .


# Conditional Statments.

# choice = int(input())


# if choice == 1:
#     print("hello world")
# else:
#     print("EXit" )

# simple if-else

# age = int(input("enter your age"))
# if age >=18:
#     print("You are valid for voting")
# else:
#     print("You are underage ")

# ladder if 

# a= int(input("enter any number"))
# if a>0:
#     print("number is +ve")
# elif a ==0:
#     print("Zero ")
# else:
#     print("number is -ve")

# Nested if : 

# age = int(input("entre your age"))
# gender = input("enter male of female")

# if gender == "male":
#     if age<18:
#         print("not valid for work")
#     elif age>=18 and age <=35:
#         print("Daily Salary = 800")
#     elif age>35:
#         print("Daily Salary = 900")
# elif gender == "female":
#     if age<18:
#         print("not valid for work")
#     elif age>=18 and age <=35:
#         print("Daily Salary = 850")
#     elif age>35:
#         print("Daily Salary = 950")
    


# write a program to find number is even or odd 


n = 20
print(n%2)

0