In [ ]:
# Python :- Python is defined as a High Level , Interpreted , Dynamic , 
#           Easy to learn , General Purpose, Object Oriented , Case Sensitive Programming Language . 



# class is defined as the blueprint of the object
# object is defined as the any real world or virtual enitity that have some state and behaviour

In [24]:
def demo():
    print("hello world")


class Test:
    def demo(self):
        print("Good Morning ")



demo()

obj = Test()
obj.demo()

hello world
Good Morning

In [5]:
print("hello worl")
print("how are you")
print("Good Morning")

hello worl
how are you
Good Morning

In [7]:
a=10 
a=9
a=-8
a=9.9
print(a)

9.9

In [23]:
a=9
print(a)
print(type(a))

a=-9
print(a)
print(type(a))

a=9.9
print(a)
print(type(a))


a="hello"
print(a)
print(type(a))


a=True
print(a)
print(type(a))

a=False
print(a)
print(type(a))


a=None
print(a)
print(type(a))


a=[6,4,3,"kuldeep","rahul","avinash",True,False,12,45,[6,4,6,(6,4,6,7)]] # list is mutable 
print(a)
print(type(a))


a=(1,3,5,3,7)  # tuple is im-mutable 
print(a)
print(type(a))



a={56,4,3,6}
print(a)
print(type(a))


a={"name":"kuldeep","city":"delhi","cource":"python","marks":98,"phone number":8877990099}
print(a)
print(type(a))

9
<class 'int'>
-9
<class 'int'>
9.9
<class 'float'>
hello
<class 'str'>
True
<class 'bool'>
False
<class 'bool'>
None
<class 'NoneType'>
[6, 4, 3, 'kuldeep', 'rahul', 'avinash', True, False, 12, 45, [6, 4, 6, (6, 4, 6, 7)]]
<class 'list'>
(1, 3, 5, 3, 7)
<class 'tuple'>
{56, 3, 4, 6}
<class 'set'>
{'name': 'kuldeep', 'city': 'delhi', 'cource': 'python', 'marks': 98, 'phone number': 8877990099}
<class 'dict'>

In [31]:
B=10
# print(b)
print(B)

10

In [38]:
# String
# single and double are used for single line string 

# triple quote is used for multiliine string

# 1 Single Quote
a="this is aman's car "
print(a)
# 2 Double Quote

a=' Today is a "suny Day " '
print(a)
# 3 Triple Quote 
a=''' h
e
l
l
o
'''
print(a)

this is aman's car
 Today is a "suny Day "
 h
e
l
l
o