In [ ]:
# Python :- Python is defined as a High Level , Interpreted , Dynamic , 
#           Easy to learn , General Purpose, Object Oriented , Case Sensitive Programming Language . 



# class is defined as the blueprint of the object
# object is defined as the any real world or virtual enitity that have some state and behaviour

In [24]:
def demo():
    print("hello world")


class Test:
    def demo(self):
        print("Good Morning ")



demo()

obj = Test()
obj.demo()

hello world
Good Morning

In [5]:
print("hello worl")
print("how are you")
print("Good Morning")

hello worl
how are you
Good Morning

In [7]:
a=10 
a=9
a=-8
a=9.9
print(a)

9.9

In [23]:
a=9
print(a)
print(type(a))

a=-9
print(a)
print(type(a))

a=9.9
print(a)
print(type(a))


a="hello"
print(a)
print(type(a))


a=True
print(a)
print(type(a))

a=False
print(a)
print(type(a))


a=None
print(a)
print(type(a))


a=[6,4,3,"kuldeep","rahul","avinash",True,False,12,45,[6,4,6,(6,4,6,7)]] # list is mutable 
print(a)
print(type(a))


a=(1,3,5,3,7)  # tuple is im-mutable 
print(a)
print(type(a))



a={56,4,3,6}
print(a)
print(type(a))


a={"name":"kuldeep","city":"delhi","cource":"python","marks":98,"phone number":8877990099}
print(a)
print(type(a))

9
<class 'int'>
-9
<class 'int'>
9.9
<class 'float'>
hello
<class 'str'>
True
<class 'bool'>
False
<class 'bool'>
None
<class 'NoneType'>
[6, 4, 3, 'kuldeep', 'rahul', 'avinash', True, False, 12, 45, [6, 4, 6, (6, 4, 6, 7)]]
<class 'list'>
(1, 3, 5, 3, 7)
<class 'tuple'>
{56, 3, 4, 6}
<class 'set'>
{'name': 'kuldeep', 'city': 'delhi', 'cource': 'python', 'marks': 98, 'phone number': 8877990099}
<class 'dict'>

In [31]:
B=10
# print(b)
print(B)

10

In [38]:
# String
# single and double are used for single line string 

# triple quote is used for multiliine string

# 1 Single Quote
a="this is aman's car "
print(a)
# 2 Double Quote

a=' Today is a "suny Day " '
print(a)
# 3 Triple Quote 
a=''' h
e
l
l
o
'''
print(a)

this is aman's car
 Today is a "suny Day "
 h
e
l
l
o

In [4]:
a=10
b = 20 
c = a+b
print(c)

30

In [10]:
# Types of Operator 

# Arithmatic Operator . 
# + , - , * , / , // , %  , ** 


a= 24
b = 8 
print(a/b)
print(a//b)  # quotient
print(a%b)  # reminder 
print(a**b)  # power

3.0
3
0
110075314176

In [18]:
# Assignment Operator 
# = , +=, -= , *= , /=, //=,**=,%=

a=5
print(a)


#a=a+2
a+=2
print(a)

a-=3
print(a)

a/=3
print(a)



a*=8
print(a)

a//=4
print(a)


a%=5
print(a)

a**=2
print(a)

5
7
4
1.3333333333333333
10.666666666666666
2.0
2.0
4.0

In [22]:
# Compairosn Operator

# > , < , >= , <= , == , != 

a = 10 
b = 11

print(a<b)
print(a>b)
print(a==b)
print(a>=b)
print(a<=b)
print(a!=b)

True
False
False
False
True
True

In [30]:
# Logical Operators
# And , Or , Not


print(a<b)
print(a>b)

print("and ",a<b and a>b)
print("or ",a<b or a>b)

print(a==b)
print(a>=b)
print(a<=b)
print(a!=b)


# Writing :- Pen & Paper
# Drink :- Tea or Coffe 
# Leave :- Not Sunday 
print(a!=b)
print("not ", not a!=b)

True
False
and  False
or  True
False
False
True
True
True
not  False

In [59]:
### Control Statments :- Conditional Statements , Looping Statments .


# Conditional Statments.

# choice = int(input())


# if choice == 1:
#     print("hello world")
# else:
#     print("EXit" )

# simple if-else

# age = int(input("enter your age"))
# if age >=18:
#     print("You are valid for voting")
# else:
#     print("You are underage ")

# ladder if 

# a= int(input("enter any number"))
# if a>0:
#     print("number is +ve")
# elif a ==0:
#     print("Zero ")
# else:
#     print("number is -ve")

# Nested if : 

# age = int(input("entre your age"))
# gender = input("enter male of female")

# if gender == "male":
#     if age<18:
#         print("not valid for work")
#     elif age>=18 and age <=35:
#         print("Daily Salary = 800")
#     elif age>35:
#         print("Daily Salary = 900")
# elif gender == "female":
#     if age<18:
#         print("not valid for work")
#     elif age>=18 and age <=35:
#         print("Daily Salary = 850")
#     elif age>35:
#         print("Daily Salary = 950")
    


# write a program to find number is even or odd 


# n = 19
# print(n%2)

# if n%2 ==0 :
#     print("even")
# else:
#     print("odd")

In [69]:
# leap year or not 

year = int(input("enter any year "))

if (year % 4==0 ):
    if (year %100 ==0 ):
        if year %400 ==0:
            print(" 1 leap year ")
        else:
            print(" 2 not lear year ")
    else:    
        print(" 3 leap year ")
else :
    print(" 4 not a leap year ")

enter any year  100

 2 not lear year

In [12]:
# looping :- while loop / do -while / for loop 


# print("hello world ")
# Starting point ;; 0 
# ending point -> 100 
# increment / decmrenet(change in value )

# print("hello world ")


i = 0 
while i<=10:
    print(i)
    i+=1


i = 0 
while i<=100:
    print(i)
    i+=1



i = 20 
while i<=100:
    print("hello")
    print(i)
    i+=1




i= 100
while i>=0:
    print(i)
    i-=1


i= 1
while i<=100:
    print(i)
    i+=1

0
1
2
3
4
5
6
7
8
9
10
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
hello
20
hello
21
hello
22
hello
23
hello
24
hello
25
hello
26
hello
27
hello
28
hello
29
hello
30
hello
31
hello
32
hello
33
hello
34
hello
35
hello
36
hello
37
hello
38
hello
39
hello
40
hello
41
hello
42
hello
43
hello
44
hello
45
hello
46
hello
47
hello
48
hello
49
hello
50
hello
51
hello
52
hello
53
hello
54
hello
55
hello
56
hello
57
hello
58
hello
59
hello
60
hello
61
hello
62
hello
63
hello
64
hello
65
hello
66
hello
67
hello
68
hello
69
hello
70
hello
71
hello
72
hello
73
hello
74
hello
75
hello
76
hello
77
hello
78
hello
79
hello
80
hello
81
hello
82
hello
83
hello
84
hello
85
hello
86
hello
87
hello
88
hello
89
hello
90
hello
91
hello
92
hello
93
hello
94
hello
95
hello
96
hello
97
hello
98
hello
99
hello
100
100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
even