In [2]:
import pandas as pd
pd

In [3]:
sr1 = pd.Series([1,2,4,22,3,4,4,3,2,4])
sr1

0     1
1     2
2     4
3    22
4     3
5     4
6     4
7     3
8     2
9     4
dtype: int64

In [4]:
data = { "one" :[0.1,1.1,2.1],
        "two":[0.2,1.2,2.2]
}

df1 = pd.DataFrame(data,index=["num1","num2","num3"])
df1

      one  two
num1  0.1  0.2
num2  1.1  1.2
num3  2.1  2.2

In [5]:
# df1.loc[2]
df1.loc["num1":"num2","one":"two"]

      one  two
num1  0.1  0.2
num2  1.1  1.2

In [6]:
import pandas as pd

In [7]:
data = pd.read_csv("netflix_dataset.csv")

In [8]:
data.loc[0:100,"Show_Id":"Cast"]

,Show_Id,Category,Title,Director,Cast
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R..."
1,s2,Movie,07:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ..."
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar..."
...,...,...,...,...,...
96,s97,Movie,3 Days to Kill,McG,"Kevin Costner, Amber Heard, Hailee Steinfeld, ..."
97,s98,Movie,3 Deewarein,Nagesh Kukunoor,"Naseeruddin Shah, Jackie Shroff, Juhi Chawla, ..."
98,s99,Movie,3 Generations,Gaby Dellal,"Elle Fanning, Naomi Watts, Susan Sarandon, Tat..."
99,s100,Movie,3 Heroines,Iman Brotoseno,"Reza Rahadian, Bunga Citra Lestari, Tara Basro..."
100,s101,Movie,3 Idiots,Rajkumar Hirani,"Aamir Khan, Kareena Kapoor, Madhavan, Sharman ..."

In [9]:
data.head()

,Show_Id,Category,Title,Director,Cast,Country,Release_Date,Rating,Duration,Type,Description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s2,Movie,07:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",PG-13,123 min,Dramas,A brilliant group of students become card-coun...

In [10]:
data.tail()

,Show_Id,Category,Title,Director,Cast,Country,Release_Date,Rating,Duration,Type,Description
7784,s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...","Sweden, Czech Republic, United Kingdom, Denmar...","October 19, 2020",TV-MA,99 min,"Dramas, International Movies",When Lebanon's Civil War deprives Zozo of his ...
7785,s7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...
7786,s7785,Movie,Zulu Man in Japan,NaN,Nasty C,NaN,"September 25, 2020",TV-MA,44 min,"Documentaries, International Movies, Music & M...","In this documentary, South African rapper Nast..."
7787,s7786,TV Show,Zumbo's Just Desserts,NaN,"Adriano Zumbo, Rachel Khoo",Australia,"October 31, 2020",TV-PG,1 Season,"International TV Shows, Reality TV",Dessert wizard Adriano Zumbo looks for the nex...
7788,s7787,Movie,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,Sam Dunn,NaN,"United Kingdom, Canada, United States","March 1, 2020",TV-MA,90 min,"Documentaries, Music & Musicals",This documentary delves into the mystique behi...

In [11]:
data = pd.read_json("sample4.json")

In [12]:
data.loc[1:]

                                              people
1  {'firstName': 'James', 'lastName': 'Smith', 'g...
2  {'firstName': 'Emily', 'lastName': 'Jones', 'g...

In [55]:
data = pd.read_csv("exercise_data.csv")

In [56]:

data

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [57]:
# To Delete the Rows that have any None Data 
# This will create a new
# df = data.dropna()
df = data

In [37]:
# df2=df.fillna(11211)

In [60]:
df3 = df.fillna({"Calories":500.11,"Date":"1 Jan 2025"})

In [61]:
df3

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130    409.10
1         60  '2020/12/02'    117       145    479.00
2         60  '2020/12/03'    103       135    340.00
3         45  '2020/12/04'    109       175    282.40
4         45  '2020/12/05'    117       148    406.00
5         60  '2020/12/06'    102       127    300.00
6         60  '2020/12/07'    110       136    374.00
7        450  '2020/12/08'    104       134    253.30
8         30  '2020/12/09'    109       133    195.10
9         60  '2020/12/10'     98       124    269.00
10        60  '2020/12/11'    103       147    329.30
11        60  '2020/12/12'    100       120    250.70
12        60  '2020/12/12'    100       120    250.70
13        60  '2020/12/13'    106       128    345.30
14        60  '2020/12/14'    104       132    379.30
15        60  '2020/12/15'     98       123    275.00
16        60  '2020/12/16'     98       120    215.20
17        60  '2020/12/17'    100       120    300.00
18        45  '2020/12/18'     90       112    500.11
19        60  '2020/12/19'    103       123    323.00
20        45  '2020/12/20'     97       125    243.00
21        60  '2020/12/21'    108       131    364.20
22        45    1 Jan 2025    100       119    282.00
23        60  '2020/12/23'    130       101    300.00
24        45  '2020/12/24'    105       132    246.00
25        60  '2020/12/25'    102       126    334.50
26        60      20201226    100       120    250.00
27        60  '2020/12/27'     92       118    241.00
28        60  '2020/12/28'    103       132    500.11
29        60  '2020/12/29'    100       132    280.00
30        60  '2020/12/30'    102       129    380.30
31        60  '2020/12/31'     92       115    243.00

In [62]:
df

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [70]:
x=df["Calories"].mean()

In [71]:
df4 = df.fillna({"Calories":x})

In [73]:
x

304.68

In [75]:
print(df4)

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130    409.10
1         60  '2020/12/02'    117       145    479.00
2         60  '2020/12/03'    103       135    340.00
3         45  '2020/12/04'    109       175    282.40
4         45  '2020/12/05'    117       148    406.00
5         60  '2020/12/06'    102       127    300.00
6         60  '2020/12/07'    110       136    374.00
7        450  '2020/12/08'    104       134    253.30
8         30  '2020/12/09'    109       133    195.10
9         60  '2020/12/10'     98       124    269.00
10        60  '2020/12/11'    103       147    329.30
11        60  '2020/12/12'    100       120    250.70
12        60  '2020/12/12'    100       120    250.70
13        60  '2020/12/13'    106       128    345.30
14        60  '2020/12/14'    104       132    379.30
15        60  '2020/12/15'     98       123    275.00
16        60  '2020/12/16'     98       120    215.20
17        60  '2020/12/17'    100       120    300.00
18        45  '2020/12/18'     90       112    304.68
19        60  '2020/12/19'    103       123    323.00
20        45  '2020/12/20'     97       125    243.00
21        60  '2020/12/21'    108       131    364.20
22        45           NaN    100       119    282.00
23        60  '2020/12/23'    130       101    300.00
24        45  '2020/12/24'    105       132    246.00
25        60  '2020/12/25'    102       126    334.50
26        60      20201226    100       120    250.00
27        60  '2020/12/27'     92       118    241.00
28        60  '2020/12/28'    103       132    304.68
29        60  '2020/12/29'    100       132    280.00
30        60  '2020/12/30'    102       129    380.30
31        60  '2020/12/31'     92       115    243.00

In [80]:
df["Calories"].median()

291.2

In [2]:
import pandas as pd
pd

In [3]:
data = pd.read_csv("exercise_data.csv")

In [22]:
data[0:7,"Date"]

InvalidIndexError: (slice(0, 7, None), 'Date')

In [38]:
import csv
file = open("students.csv")
reader = csv.reader(file)
for i in reader:
    print(i)

print()
file = open("students.csv")
reader = csv.reader(file)
for i in reader:
    for j in i :
        print(j,"  |  ",end=" ")
    print()


print()
file = open("students.csv")
reader = csv.reader(file)
for i in reader:
    for j in i :
        print(j," "*(10-len(j)),"|",end="     ")
    print()

['Name', 'Age', 'City']
['Kuldeep', '26', 'Delhi']
['Anita', '23', 'Mumbai']
['Rohan', '24', 'Bangalore']
['Priya', '22', 'Chandigarh']
['Vikram', '25', 'Pune']
['Simran', '21', 'Ludhiana']
['Arjun', '27', 'Hyderabad']
['Neha', '24', 'Jaipur']
['Karan', '23', 'Kolkata']
['Meera', '22', 'Chennai']

Name   |   Age   |   City   |
Kuldeep   |   26   |   Delhi   |
Anita   |   23   |   Mumbai   |
Rohan   |   24   |   Bangalore   |
Priya   |   22   |   Chandigarh   |
Vikram   |   25   |   Pune   |
Simran   |   21   |   Ludhiana   |
Arjun   |   27   |   Hyderabad   |
Neha   |   24   |   Jaipur   |
Karan   |   23   |   Kolkata   |
Meera   |   22   |   Chennai   |

Name        |     Age         |     City        |
Kuldeep     |     26          |     Delhi       |
Anita       |     23          |     Mumbai      |
Rohan       |     24          |     Bangalore   |
Priya       |     22          |     Chandigarh  |
Vikram      |     25          |     Pune        |
Simran      |     21          |     Ludhiana    |
Arjun       |     27          |     Hyderabad   |
Neha        |     24          |     Jaipur      |
Karan       |     23          |     Kolkata     |
Meera       |     22          |     Chennai     |

In [43]:
# file = open("students.csv")
# print(file.read())

import csv
li = [["Kuldeep,26,Delhi"],["Anita,23,Mumbai"],["Rohan,24,Bangalore"]]
file = open("shravan.csv", "w")
writer = csv.writer(file)
writer. writeLines(li)

AttributeError: '_csv.writer' object has no attribute 'writeLines'

In [44]:
file = open("students.csv")
reader = csv.reader(file)
for i in reader:
    for j in i :
        print(j," "*(10-len(j)),"|",end="     ")
    print()

Name        |     Age         |     City        |
Kuldeep     |     26          |     Delhi       |
Anita       |     23          |     Mumbai      |
Rohan       |     24          |     Bangalore   |
Priya       |     22          |     Chandigarh  |
Vikram      |     25          |     Pune        |
Simran      |     21          |     Ludhiana    |
Arjun       |     27          |     Hyderabad   |
Neha        |     24          |     Jaipur      |
Karan       |     23          |     Kolkata     |
Meera       |     22          |     Chennai     |

In [ ]:
file = open("students.csv""r")
reader =